version: '3.9'
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vibratribe
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  api:
    build:
      context: ../apps/api
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/vibratribe
      JWT_SECRET: super-secret-change
      PORT: 4000
      SIWE_DOMAIN: localhost
      SIWE_URI: http://localhost:3000
      WEB_ORIGIN: http://localhost:3000
    depends_on:
      - db
    ports:
      - '4000:4000'

  web:
    build:
      context: ../apps/web
      dockerfile: Dockerfile
    environment:
      NEXT_PUBLIC_CHAIN_ID: '56'
      NEXT_PUBLIC_RPC_URL: https://bsc-dataseed.binance.org
      NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: demo
      NEXT_PUBLIC_API_BASE: http://localhost:4000/api
    ports:
      - '3000:3000'
    depends_on:
      - api

volumes:
  postgres-data:
